.grid {
    display: grid;

    &__schedule {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        align-content: start;
        gap: 4.8rem;
        margin: 0 auto;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
        }
    }

    &__game {
        grid-template-columns:
            [full-start left-start] 5rem
            [left-end center-start] minmax(6rem, 1fr)
            [center-end right-start] 5rem [right-end full-end];
        align-content: start;
        gap: 2rem;

        &-add {
            display: flex;
            // align-items: stretch;
            flex-direction: column;
            gap: 0.2rem;
            border: 1px solid $color-black;
            border-radius: 2rem;
            padding: 1.6rem;
            background-color: $color-secondary-light;

            & > span {
                align-self: self-end;
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
    }

    &-day,
    &-time {
        font-size: inherit;
    }

    &__results {
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        align-content: start;
        justify-content: center;
    }
}
