.nav {
    height: 5rem;
    background-color: $color-grey-light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

    &__list {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        height: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 0.75s;

        &:hover {
            // color: $color-white;
            // transform: translateY(-0.2rem);
            background-color: $color-grey-light-2;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            padding: 0 2.5rem;
            color: $color-black;
            text-transform: capitalize;
            font-size: 1.6rem;
            transition: all 0.75s;
        }

        &:hover {
            // color: $color-white;
            // transform: translateY(-0.2rem);
            // background-color: $color-grey-dark-1;
        }
        &:active {
            color: $color-white;
            transform: translateY(-0.1rem);
        }
    }

    // &__admin {
    //     &-link {
    //         text-decoration: none;
    //     }
    // }
}
