{% extends 'base_generic.html' %}

{% block content %}
  <form method="POST" class="form">
        {% csrf_token %}
        <div class="container__login">
            {{form}}
            <div class="pick__action-row">
                <button type="submit" class="btn">Login</button>
                <a href="{% url 'register' %}" class="btn">Register</a>
            </div>
        </div>
    </form>

    {% if user.is_authenticated %}
        <p class="p">HELLO  </p>
    {% endif %}
{% endblock  %}