/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
}

::selection {
  background-color: #a21521;
  color: #fff;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 4rem;
  color: #a21521;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-weight: 500;
}

.heading-secondary {
  font-size: 4rem;
  color: #fff;
  line-height: 1.2;
}

.heading-tertiary {
  font-size: 4rem;
  color: #fff;
  line-height: 1.2;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-sm {
  margin-top: 2rem !important;
}

.u-margin-top-md {
  margin-top: 5rem !important;
}

.u-margin-top-bg {
  margin-top: 8rem !important;
}

.u-margin-top-hg {
  margin-top: 10rem !important;
}

.u-bgc-green {
  background-color: rgb(0, 200, 0) !important;
}

.u-hidden-input {
  display: none;
}

.btn {
  height: 4rem;
  width: 12rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #000;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.btn:hover {
  cursor: pointer;
}
.btn__submit {
  background-color: #f6c665;
}
.btn__submit:hover {
  background-color: #f2af29;
}
.btn__clear {
  background-color: #eee;
}
.btn__clear:hover {
  background-color: #999;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 10rem;
  min-height: 80vh;
  background-color: #fff;
}

.drag__bgc {
  background-color: rgba(119, 119, 119, 0.3);
}
.drag__half-opacity {
  opacity: 0.5;
}
.drag__bold {
  font-weight: 700;
}

.input__number {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  height: 4rem;
  width: 12rem;
  outline: 0.1rem solid #000;
  border-radius: 0.23rem;
  border: none;
}
.input__number:hover {
  outline: 0.2rem solid #e9855d;
}
.input__number:focus {
  outline: 0.3rem solid #de541e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.modal {
  width: 100rem;
  height: 100rem;
  background-color: #fff;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.2rem;
  box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.3);
}
.modal__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.7rem;
  padding: 3rem;
}
.modal__list-number {
  display: grid;
  grid-template-columns: 2.8rem auto;
  column-gap: 0.6rem;
  list-style: none;
  font-size: 1.8rem;
}
.modal__list-point, .modal__list-team {
  font-size: inherit;
}
.modal__hidden {
  opacity: 0;
  display: none;
}

.footer {
  background-color: #333;
  font-size: 1.4rem;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
  padding: 10rem 0;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__list {
  list-style: none;
  display: flex;
}
.footer__item {
  display: inline-block;
  padding: 0 11rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #a21521;
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.grid {
  display: grid;
}
.grid__schedule {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-content: start;
  gap: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .grid__schedule {
    grid-template-columns: 1fr;
  }
}
.grid__game {
  grid-template-columns: [full-start left-start] 5rem [left-end center-start] minmax(6rem, 1fr) [center-end right-start] 5rem [right-end full-end];
  align-content: start;
  row-gap: 2rem;
  column-gap: 2rem;
}
.grid-day, .grid-time {
  font-size: inherit;
}
.grid__results {
  grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  align-content: start;
  justify-content: center;
}

.nav {
  height: 5rem;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0 2.5rem;
  color: #000;
  text-transform: capitalize;
  font-size: 3.2rem;
  transition: all 0.75s;
}
.nav__link:hover {
  color: #fff;
  transform: translateY(-0.2rem);
}
.nav__link:active {
  color: #fff;
  transform: translateY(-0.1rem);
}

.pick__action-row {
  display: flex;
  justify-content: end;
  gap: 5rem;
}
.pick__choice {
  grid-column: right-start/right-end;
  display: inline-block;
  border-radius: 0.3rem;
  font-size: inherit;
  background-color: #fff;
  border: 0.1rem solid green;
}
.pick__choice:hover {
  cursor: pointer;
}
.pick__choice > option {
  text-align: center;
}
.pick__date {
  grid-column: full-start/full-end;
  display: flex;
  justify-content: space-between;
}
.pick__game {
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 0.8rem 1.6rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 128, 0, 0.8);
  font-size: 1.6rem;
  outline: 0.3rem solid green;
}
.pick__team {
  grid-column: left-start/center-end;
  justify-self: left;
}
.pick__team:hover {
  cursor: pointer;
}
.pick__tiebreaker-label {
  text-transform: capitalize;
  font-size: 1.8rem;
}

.user__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 80rem;
  margin: 0 3rem;
}

.result__season {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.result__table {
  margin-inline: auto;
  font-size: 1.4rem;
}
.result__table-row:nth-child(odd) {
  margin-top: 2rem;
}
.result__table-row:nth-child(even) {
  background-color: #eee;
  margin-bottom: 2rem;
}
.result__table-row-win {
  outline: 0.1rem dotted green;
}
.result__table-cell {
  padding-inline: 0.5rem;
}
.result__table-header {
  padding-right: 1rem;
  padding-left: 0.5rem;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
