{% extends 'base_generic.html' %}

{% load static %}

{% block title %}{% endblock %} 
{% block scripts %}{% endblock %}
{% block navigation %}
    <nav class="nav">
        <span class="nav__logo">
            <a href="/football/" class="nav__link">Home</a>
        </span>
        <ul class="nav__list">
            <li class="nav__item"><a href="{{current_week}}" class="nav__link">Current Week</a></li>
            <li class="nav__item"><a href="{% url 'football:result_list' %}" class="nav__link">Results</a></li>
            <li class="nav__item"><a href="{% url 'schedule:index' %}" class="nav__link">Schedule</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Test Link</a></li>
            <li class="nav__item"><a href="/admin" target="_blank" class="nav__link">Admin</a></li>
        </ul>
        <span class="nav__profile">            
            <a href="{% url 'logout' %}" class="nav__link">Logout</a>
        </span>
    </nav>
{% endblock %}

{% block content %}{% endblock %} 

{% block footer %}
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
            <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
            <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
            <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
            <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
        </ul>
    </footer>
{% endblock %}
