{% extends 'base_generic.html' %} {% block navigation %}

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Test Link</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Test Link</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Test Link</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Test Link</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Test Link</a></li>
    </ul>
</nav>

{% endblock %} {% block content %}{% endblock %} {% block footer %}
<footer class="footer">
    <ul class="footer__list">
        <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
        <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
        <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
        <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
        <li class="footer__item"><a href="#" class="footer__link">TestLink</a></li>
    </ul>
</footer>
{% endblock %}
