.table {
    display: block;
    margin-inline: auto;
    font-size: 2rem;
    max-width: $bp-container;
    overflow-x: auto;
    overflow-y: hidden;
    table-layout: fixed;
    border: 1px solid $color-black;
    background-color: $color-white;
    border-collapse: collapse;
    box-shadow: 0 1rem 1rem 1rem rgba($color-black, 0.05);

    &__cell {
        padding: 0.5rem;
        border: 1px solid $color-grey-dark-3;
        min-width: 30rem;
        &:first-child {
            // border-left: none;
            border-left: none;
        }
        &-icon {
            text-align: center;
            align-items: center;
            min-width: 10rem;
        }

        &-small {
            font-size: 1.1rem;
            width: 2rem;
            border: 1px solid $color-grey-dark-3;
            padding-inline: 0.2rem;

            &:first-child {
                // border-left: none;
                border-left: none;
            }
        }
    }

    &__header {
        padding-right: 1rem;
        padding-left: 0.5rem;
        text-align: left;
        font-size: 2rem;
        color: $color-tertiary-dark;
        border: 1px solid $color-grey-dark-3;
        border-top: none;

        &:first-child {
            border-left: none;
        }
        &-icon {
            width: 5rem;
        }

        &-name {
            writing-mode: vertical-rl;
            text-orientation: upright;
            border: 1px solid $color-grey-dark-3;
            font-size: 1.1rem;
            line-height: 0.8;
            border-top: none;
            margin-bottom: auto;
            text-align: end;
            line-height: 1.2;
        }

        &-team {
            text-align: left;
            width: 18rem;
            font-size: 1.1rem;
            padding: 0.2rem 0.5rem;
            line-height: 1;
            border: 1px solid $color-grey-dark-3;

            &:first-child {
                border-left: none;
            }
        }
    }

    &__row {
        width: 100%;
        max-width: $bp-container;

        &:nth-child(odd) {
            background-color: $color-white;
        }

        &:nth-child(even) {
            background-color: $color-grey-light-2;
        }
        &-win {
            outline: 0.1rem dotted green;
        }

        &-empty {
            height: 0.8rem;
            border-right: 1px solid $color-grey-dark-3;
            border-bottom: 1px solid $color-grey-dark-3;
        }
    }

    &__title {
        padding: 0.2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: $color-secondary-dark;
        border: 1px solid $color-black;
        border-bottom: none;
        font-size: 2.8rem;
        color: $color-white;
    }
}
