.login {
    &__container {
        background-color: $color-white;
        border-radius: 0.6rem;
        display: flex;
        flex-direction: row;
        gap: 0;
        min-height: 70rem;
        margin-inline: auto;
        max-width: 120rem;

        background-image: url('/static/images/Football-Grass.jpg');
        background-size: cover;
        background-position: top;

        &-form {
            width: 33.33333%;
            display: flex;
            flex-direction: column;
            // margin: 0 auto;
            gap: 0.8rem;
            padding: 3.2rem;
            opacity: 0.95;
            background-color: $color-white;

            border-radius: inherit;
            overflow: hidden;
        }

        &-photo {
            width: 66.66666%;
        }
    }
}
