.pick {
    &__action {
        &-row {
            margin-block: 1.2rem;
            display: flex;
            justify-content: end;
            gap: 2.4rem;
        }
    }

    &__date {
        grid-column: full-start / full-end;
        display: flex;
        justify-content: space-between;
        font-size: $grid-font-size;
        font-weight: 600;
    }

    &__flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 7rem;
        align-items: start;
    }

    &__game {
        background-color: $color-grey-light-1;
        border-radius: 1rem;
        padding: 0.8rem 1.6rem;
        box-shadow: 0rem 1rem 2rem rgba(red, 0.8);
        font-size: $default-font-size;
        outline: 0.3rem solid red;

        &-valid {
            box-shadow: 0rem 1rem 2rem rgba(green, 0.8);
            outline: 0.3rem solid green;
        }
    }

    &__list {
        min-width: 30rem;
        flex-grow: 0;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        border: 0.3rem solid $color-black;
        border-radius: 1rem;
        padding: 1.2rem;
        background-color: $color-grey-light-1;
        box-shadow: 0rem 1rem 3rem rgba($color-black, 0.4);

        &-item {
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 1.2rem;
            align-items: end;
            line-height: 1.7;

            & > :nth-child(1) {
                min-width: 3.5rem;
            }
        }
    }

    &__schedule {
        flex-grow: 1;
    }
    &__team {
        grid-column: left-start / center-end;
        justify-self: left;
        &:hover {
            cursor: pointer;
        }
    }

    &__tiebreaker {
        &-label {
            text-transform: capitalize;
            font-size: $grid-font-size;
        }
    }
}
