.pick {
    &__action {
        &-row {
            margin-block: 1.2rem;
            display: flex;
            justify-content: end;
            gap: 2.4rem;
        }
    }
    &__choice {
    }

    &__date {
        grid-column: full-start / full-end;
        display: flex;
        justify-content: space-between;
        font-size: $grid-font-size;
        font-weight: 600;
    }

    &__game {
        background-color: $color-grey-light-1;
        border-radius: 1rem;
        padding: 0.8rem 1.6rem;
        box-shadow: 0rem 1rem 2rem rgba(red, 0.8);
        font-size: $default-font-size;
        // border: 0.2rem solid $color-black;
        // outline: 0.3rem solid $color-primary;
        outline: 0.3rem solid red;

        &-valid {
            box-shadow: 0rem 1rem 2rem rgba(green, 0.8);
            outline: 0.3rem solid green;
        }
    }
    &__schedule {
    }
    &__team {
        grid-column: left-start / center-end;
        justify-self: left;
        &:hover {
            cursor: pointer;
        }
    }

    &__tiebreaker {
        &-label {
            text-transform: capitalize;
            font-size: $grid-font-size;
        }
    }
}
