*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    // text-size-adjust: 100%;
    // -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    position: relative;
    // background-color: $color-secondary-light;
    // min-height: 100dvh;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
